apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
spec:
  selector:
    matchLabels:
      app: mysql
  replicas: 1
  template:
    metadata:
      labels:
        app: mysql
    spec:
        containers:
        - name: mysql-container
          image: mysql:latest
          ports:
          - containerPort: 3306
          env:
          - name: MYSQL_ROOT_PASSWORD
            value: "root"
          volumeMounts:
            - name: mysql-volume
              mountPath: /var/lib/mysql
        volumes:
          - name: mysql-volume
            persistentVolumeClaim:
              claimName: local-mysql-pvc